<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пост</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h3>Post</h3>
    <a class="p-2 text-dark" href="/blog/add">Create Post</a>
    <div th:each="el : ${posts}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"/>
        <p th:text="${el.anons}"/>
        <a th:href="'/blog/' + ${el.id}" class="btn btn-warning">details</a>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>