<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark d-flex ">
        <div class="col-md-5 px-0">
            <h1 class="display-4 font-italic">Кино и море: Сочинский блог Эдуарда Голубаева. Вступление</h1>
            <p class="lead my-3">С сегодняшнего дня и аж до 19 сентября я буду вести тут свой дневник с «Кинотавра». Сочи я люблю: работал здесь на Чемпионате мира в 2018 году и во время «Формулы-1».</p>
            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Подробнее...</a></p>
        </div>
        <div class="d-flex p-5 p-md-6">
        </div><a href="https://ibb.co/7VNp69q"><img src="https://i.ibb.co/7VNp69q/sss.jpg" alt="" width="550" height="450"></a>
    </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Герои</strong>
                    <h3 class="mb-0">Интервью</h3>
                    <div class="mb-1 text-muted">13 сентября</div>
                    <p class="card-text mb-auto">Всегда был свободным, хоть в 80-е меня за это и били». Интервью с экспертом моды Владиславом Лисовцом</p>
                    <a href="#" class="stretched-link">Подробнее...</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                </div><a href="https://ibb.co/k0NZJHD"><img src="https://i.ibb.co/k0NZJHD/vlad.jpg" alt="" width="250" height="250"></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Новости</strong>
                    <h3 class="mb-0">Мария Ро</h3>
                    <div class="mb-1 text-muted">12 сентября</div>
                    <p class="mb-auto">У Марьяны Ро вышел новый трек Ice. Это измененная версия песни Cartier</p>
                    <a href="#" class="stretched-link">Подробнее...</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                </div><a href="https://ibb.co/rZ61VMc"><img src="https://i.ibb.co/rZ61VMc/maria.jpg" alt="" width="250" height="250"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                Present is Perfect
            </h3>

            <div class="blog-post">
                <h2 class="blog-post-title">Образец блог поста</h2>
                <p class="blog-post-meta">12 сентября, 2020 год <a href="#">Дарья Никулина</a></p>

                <p>На эти выходные часть редакции SRSLY временно переместилась в Санкт-Петербург, чтобы побывать на одном из главных событий осени — фестивале Present is Perfect. Это спин-офф традиционного летнего PPF, который не состоялся из-за ограничений на проведение мероприятий. Все происходит пусть не так масштабно, пусть не так тепло, но все же происходит! Подробности — в обзоре SRSLY.</p>
                <hr>
                <h3>Про организацию</h3>
                <p>Очередь сначала пугает, но потом удивляет скорость, с которой работают сотрудники феста. На входе в «К-30» несколько линий обороны: на первой (будем называть ее предварительной, потому что она отсеивает неадекватов) просто проверяют наличие билета и ничего не сканируют; затем измеряют температуру, так как все мы помним, в какое время живем; на третьей — уже нормальный чек-ин со считыванием кодов и выдачей браслета (цвет зависит от типа билета); далее стандартная проверка на безопасность. </p>
                <blockquote>
                    <p>Интересный момент — за несколько часов до старта базу фестиваля взломали и вывели какое-то количество билетов. Благо организаторы вовремя отследили утечку и предупредили всех, что такие проходки покупать не стоит, поскольку они не сработают. Но стоит отметить, что этого следовало ожидать: ажиотаж был огромный, солд-аут нормальных билетов случился задолго до заветного уик-энда.</p>
                </blockquote>
                <h4>Про деньги</h4>
                <p>Чтобы мы не носили с собой наличку, организаторы предусмотрели систему cashless: на одной из двух стоек пополняешь сам браслет и платишь им за еду и напитки. Пополнить его можно как наличкой, так и картой, что удобно. Сама процедура занимает две минуты: подходишь, сканируешь браслет, называешь сумму, оплачиваешь, проверяешь на месте, все ли ок. Если по итогу потратил не все, оставшиеся деньги возвращают. </p>
                </blockquote>
                    <p>А вот что пугает и не зря, так это очередь в туалет. В какой-то момент показалось, что выйти, съездить домой и вернуться будет быстрее. В итоге общее время ожидание в этой очереди — 20 минут.</p>
                <h5>Про погоду</h5>
                <p>Так как «К-30» находится у воды и вообще представляет из себя открытое пространство (о чем несколько раз напомнили организаторы в своих соцсетях), по всем углам понаставили обогреватели. И совершенно не напрасно: было очень холодно. +10°С, хотя казалось, что и все +5°С. На закрытых площадках, конечно же, гораздо теплее — как минимум за счет эффекта толпы. И как всегда — Питер, спасибо, что не дождь.</p>
                <h6>Про атмосферу</h6>
                <p>Весь движ в пятницу стартовал только после часа ночи: на мэйне (TRIP в ангаре) началось дикое рубилово под сет от PTU, а «K-30» захватил SIL. Но дело не в том, что в 23:00 ничего не происходило: просто весь народ стал собираться только к часу. До этого времени мэйн качал Roma Zuckerman, и это было волшебно. Надо отметить то, как менялись диджеи: не просто «пост сдал, пост принял» — они продумали все до мелочей, сделав из этого своего рода звуковой перформанс. </p>
                <p>Сцена Garden осталась без внимания — в пятницу там была чилл-зона. Ну и пусть готовится, подумали все, потому что в субботу ее разорвет на части энергией Shortparis.</p>
                <p>Отдавленные ноги, синяки на плечах от тычков локтями и разлитые напитки — все это было, потому что куда без этого? Мы же на рейве. Но прибавился еще и чисто питерский флер: настроение и так не портится, потому что ты все понимаешь (сама тупая, что полезла в толпу со стаканом), но фраза «Прошу меня простить великодушно» заряжает позитивом еще на дополнительные 146%. </p>
                <p>Три часа подряд на мэйне были лайвы от PTU, Vladimir Dubyshkin и Shadowax, потом еще три часа — сеты от Nina Kraviz. Все закончилось с рассветом и внезапно, как это обычно бывает: люди вывалились на свежий воздух, осознали, что уже утро, и, уставшие, но счастливые, разбрелись по домам, чтобы на следующий день снова зажечь, как будто завтра никогда не наступит. </p>
                <p>Новый формат фестиваля PPF под названием Present is Perfect определенно отличается от стандартного, но имеет свой шарм. Пусть это и не большой летний фестиваль — все-таки осенний Питер и пространство «К-30» накладывает свои ограничения — но точно событие сезона. Целые выходные, несколько локаций и топовые диджеи — все это досталось Present is Perfect в наследство от PPF. Ну а мы воспринимаем переформат фестиваля как и завещано: ценим лучшее в настоящем. </p>
            </div><!-- /.blog-post -->

            <div class="blog-post">
                <h2 class="blog-post-title">Премьера</h2>
                <p class="blog-post-meta">12 сентября, 2020  <a href="#">Егор Парфененков</a></p>
                <h3>Премьеру «Чудо-женщины: 1984» снова перенесли. Кажется, на очереди «Дюна» Дени Вильнева</h3>
                <p>Ранее информацию о переносе сообщил источник The Wall Street Journal, после чего новость подтвердила сама компания Warner Bros. Сейчас премьера «Чудо-женщины: 1984» назначена на 25 декабря, прямо в канун рождественских праздников. Изначально фильм должен был выйти 5 июня, после чего ленту Пэтти Дженкинс перенесли на 14 августа, а затем еще дальше — на 2 октября. Причина отсрочек остается неизменной: Warner Bros. не хочет рисковать и выпускать крупные блокбастеры в крайне нестабильный для кинорынка период.</p>
                <blockquote>
                    <p>«Пэтти — выдающийся режиссер, а из "Чудо-женщины: 1984" получился невероятно динамичный фильм, который точно понравится зрителям всех возрастов и со всех уголков мира. Мы очень гордимся этой лентой и с нетерпением ждем возможности представить его зрителям на больших экранах в рождественские праздники», — рассказал представитель Warner Bros. изданию Variety. Студия уже не первый раз пускает в прокат супергеройский блокбастер прямо в канун Нового года. В декабре 2018 года в кинотеатрах вышел «Аквамен» с Джейсоном Момоа, который в конечном итоге преодолел порог в 1 млрд долларов.</p>
                </blockquote>
                <p>По факту, сейчас все релизы равняются на сборы «Довода» Кристофера Нолана, вышедшего в прокат 3 сентября. За первый уикенд в США блокбастеру удалось собрать 20 млн долларов, в то время как за границей сборы составили 146 млн долларов. Для фильма с бюджетом в 200 млн цифры относительно скудные: видно, люди еще не готовы брезговать безопасностью и повально ходить в кино. Перенос «Чудо-женщины: 1984» должен дать «Доводу» еще больше времени на раскачку, поскольку в ближайшее время выход блокбастеров не планируется. Единственная лента, которая потенциально может составить конкуренцию Warner Bros. этой осенью — «Черная вдова» от Disney. Ее премьера запланирована на 6 ноября.</p>
                <p>18 декабря Warner Bros. также планирует пустить в прокат «Дюну», однако блокбастер Дени Вильнева тоже наверняка подвинут, причем сразу на начало 2021 года. Текущее число теснится с актуальной датой премьеры «Чудо-женщины: 1984», а оба фильма расцениваются как блокбастеры. Тем временем можете пока посмотреть первый трейлер «Дюны», где на одном экране собрался, пожалуй, один из самых эпичных кастов современного Голливуда: Тимоти Шаламе, Оскар Айзек, Зендая, Ребекка Фергюсон, Стеллан Скарсгард, Джейсон Момоа, Дэйв Батиста и ряд других актеров.</p>
            </div><!-- /.blog-post -->

            <div class="blog-post">
                <h2 class="blog-post-title">Горячие Новости</h2>
                <p class="blog-post-meta">13 сентября, 2020 <a href="#">Оксана Скибун</a></p>
                <h3>Основательница журнала Love запускает новый проект — Perfect Magazine</h3>
                <p>Менее недели назад основательница и главный редактор Love Magazine Кэти Гранд сообщила о том, что покидает журнал. Представители модной индустрии были шокированы новостью, но знали, что для Гранд это еще не конец, и были правы: сегодня стало известно, что Кэти запускает Perfect Magazine. Для нее он станет уже далеко не первым медиапроектом: помимо создания собственного уникального издания, она приложила руку к появлению таких журналов как Dazed & Confused и Pop Magazine, однако Perfect будет отличаться от них всех.</p>
                <p>Уходя из Love, в своем профиле в инстаграме Кэти рассказала о том, как когда-то появился журнал — по ее словам, все началось с нескольких телефонных звонков. Создавая Perfect, она не стала изменять проверенным методам: все в той же социальной сети Гранд опубликовала короткий видеоролик с фрагментами телефонных разговоров. На видео она звонит тем, с кем работала в прошлом — редакторам, режиссерам, арт-директорам и стилистам, предлагая им вместе сделать мультимедийный проект, который объединит в себе офлайн- и онлайн-опыт: журнал, ютьюб, тикток и многое другое. </p>
                <p>Кэти рассказала, что для каждого проекта будет создана отдельная команда, а для его реализации выбрана наиболее подходящая форма, будь то статья, фотосъемка, выставка, фильм или мероприятие. Что же касается журнала, его, в отличие от Love, будут выпускать не массивными томами, а небольшими тематическими номерами, адаптированными под требования того или иного проекта.  </p>
                <p>Управление журналом Гранд возьмет на себя. В качестве директора по маркетингу к ней присоединится издатель Love Magazine Кэтрин Расселл. В команду также войдут и другие люди, работавшие в Love, в частности редактор Мюррей Хили, директор отдела моды Оливер Волкардсен и Бенн Кобб — бывший главред Another Man, который с января этого года исполнял обязанности главного редактора Love Magazine вместе с Кэти. Над проектом также будут работать фэшн-блогер Брайан Грей Ямбао, известный своими эксцентричными видео в тиктоке под ником Bryanboy, бывший креативный директор журналов i-D и The Face Грэм Рунтуэйт, стилист Джини Аннан-Левин, журналист, критик и редактор Pam Boy, а также кинорежиссер и арт-директор Робби Мейлер-Ховат. </p>
                <p>Другие детали готовящегося проекта пока не известны — сайт на данный момент находится в разработке, но на Perfect Magazine уже сейчас можно подписаться в инстаграме. Аккаунт с аналогичным названием появился и в тиктоке, но в нем пока никаких публикаций нет.</p>
            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">Новости</h4>
                <p class="mb-0">Новое место в Питере: Algorithm Coffee Володи Керна и Лизы Лангинен</p>
            </div>

            <div class="p-4">
                <h4 class="font-italic">Архивы</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">Март 2020</a></li>
                    <li><a href="#">Февраль 2020</a></li>
                    <li><a href="#">Январь 2020</a></li>
                    <li><a href="#">Декабрь 2019</a></li>
                    <li><a href="#">Ноябрь 2019</a></li>
                    <li><a href="#">Октябрь 2019</a></li>
                    <li><a href="#">Сентябрь 2019</a></li>
                    <li><a href="#">Август 2019</a></li>
                    <li><a href="#">Июль 2019</a></li>
                    <li><a href="#">Июнь 2019</a></li>
                    <li><a href="#">Май 2019</a></li>
                    <li><a href="#">Апрель 2019</a></li>
                </ol>
            </div>

            <div class="p-4">
                <h4 class="font-italic">Социальные Сети</h4>
                <ol class="list-unstyled">
                    <li><a href="">Linkedin</a></li>
                    <li><a href="https://medium.com/@kyrgyzdev">Medium</a></li>
                    <li><a href="https://www.facebook.com/KyrgyzDev/">Facebook</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</main>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</>